  .App {
    text-align: center;
  }

  .App-header {
    color: #747474;
    font-weight: 500;
    font-size: 10vh;
    padding-top: 15vh;
    padding-bottom: 3vh;
  }

  .App-header>span, .Weather-Icon {
    color: #480f7d;
  }

  .App-quote {
    font-size: 1.5rem;
  }

  .Weather {
    font-family: Roboto, sans-serif;
    position: fixed;
    color: #747474;
    border: 2px solid #282828;
    background: #121212;
    border-radius: 10px;
    margin: 1.5vh;
    padding: 10px;
  }

  .Weather-header {
    font-size: 2rem;
  }

  .Search {
    position: sticky;
    top: -1px;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
  height: 61px;
  margin-bottom: 32px;
  font-family: Roboto,
  sans-serif;
  width: 100%;
  }

  .Search-form {
    position: absolute;
    z-index: 22;
    top: 9px;
    width: calc(100% - 32px);
    max-width: 560px;
    display: flex;
    flex-direction: column;
    outline: none;
    border-radius: 12px;
    border: 2px solid #282828;
    background: #121212;
  }

  .Search-icon {
    background-size: 32px;
    width: 34px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: 7px;
    color: #480f7d;
  }

  .Search-input {
    font-family: Roboto, sans-serif;
    width: 25rem;
    height: 44px;
    padding-left: 4rem !important;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    color: #747474;
  }

  input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
  }

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  font-family: Roboto, sans-serif;
  font-size: 1;
}

.Nav>div {
  width: 3.5rem;
  border: 2px solid #282828;
  background: #121212;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.Nav a {
  color: #747474;
  text-decoration: none;
}

.Nav-Icon {
  font-size: 2rem;
  color: #480f7d;
}

.Nav a:hover {
  color: #480f7d;
}

.Spotify {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: .5rem;
  text-align: center;
  width: 28rem;

  font-family: Roboto, sans-serif;
  position: fixed;
  color: #747474;
  border: 2px solid #282828;
  background: #121212;
  border-radius: 10px;
  margin: 2vh;
}